@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar-container {
  display: flex;
  height: 100px; 
  font-family: 'Montserrat', sans-serif; 
}

.navbar-button {
    color: #FFFFFFBF;
    background-color: #1BA098;
    font-size: 30px;
    width: 140px;
    height: 50%;
    border-radius:20px;
    text-align: center;
    margin-right: 20px;
    margin-top: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.popup-card {
    width: 100%;
    color: #FFFFFF;
    background-color: #0B2D45;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.background-large {
  display: flex;
  flex-direction: column ;
  background-color: #051622;
  color: #FFFFFFBF;
  height: 100%;
  width: 100%;
}

.background {
  display: flex;
  flex-direction: column ;
  background-color: #051622;
  color: #FFFFFFBF;
  height: 100vh;
  width: 100vw;
}

.list-container {
  color: #FFFFFFBF;
  background-color: #1BA098;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

.list-content {
    justify-content: space-between;
    margin-top: 10px;
    size: 18px;
}

.title {
  color: #1BA098;
  font-size: 50px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.subtitle {
  color: #1BA098;
  font-size: 40px;
}

.login-container {
  display: flex;
  width: 100%;
  height: 600px;
  position: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.login-items {
  color: #FFFFFFBF;
  width: 450px;
  height: 560px;
  box-shadow: 4px 4px 10px 5px rgba(202.94, 202.94, 202.94, 0.49);
  border-radius: 15px;
  border: 5px #DEB992 solid;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}

.fields {
  width: 300px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  padding-top: 20px;
}

.spacing {
  width: 100%;
  height: 40px;
  border-radius: 20px;
}

.login-button {
  width: 160px;
  height: 50px;
  font-size: 25px;
  border-radius: 50px;
  border: 2px solid #1BA098;
  color: white;
  padding-top: 3px;
  margin: auto;
  margin-top: 30px;
}

.crud-items {
  color: #FFFFFFBF;
  width: 600px;
  box-shadow: 4px 4px 10px 5px rgba(202.94, 202.94, 202.94, 0.49);
  border-radius: 15px;
  border: 5px #DEB992 solid;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}

.submit-button {
  width: 150px;
  height: 30px;
  font-size: 15px;
  border-radius: 50px;
  border: 2px solid #1BA098;
  color: white;
  padding-top: 3px;
  margin: auto;
  margin-top: 30px;
}

.page-container{
  display: flex;
  height: 75%;
  width: 100%;
  position: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.table {
  color: #FFFFFFBF;
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 30px;
}

th, td {
  padding-left: 15px;
  text-align: left;
  border-bottom: 1px solid #8f8787;
}

.select-menu {
  color: #000000bf;
  font-size: 15px;
}

.amount-box {
  color: #000000bf;
  font-size: 15px;
  width: 70px;
}

.table-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.add-item-button {
  width: 50px;
  height: 30px;
  font-size: 15px;
  border-radius: 50px;
  border: 2px solid #1BA098;
  color: white;
  justify-content: center;
}

.remove-item-button {
  width: 80px;
  height: 30px;
  font-size: 15px;
  border-radius: 50px;
  border: 2px solid #1BA098;
  color: white;
  flex-direction: row;
  display: inline-block;
}